<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all Pokemon sets in the library</title>
</head>
<body>
<h1>Overview of all the Pokemon sets in the library</h1>

<table>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    <tr th:each="pokemonset : ${allPokemonSets}">
        <td th:text="${pokemonset.getName()}"></td>
        <td><a th:href="@{/pokemonset/delete/{pokemonSetId}(pokemonSetId = ${pokemonset.getPokemonSetId()})}">delete</a></td>
    </tr>
</table>

<a th:href="@{/pokemonset/new}">Add new Pokemon set</a>

</body>
</html>