<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the Pokemon cards in the library</title>
</head>
<body>
    <h1>Overview of all the Pokemon cards in the library</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Rarity</th>
        <th>Set</th>
        <th></th>
    </tr>
    <tr th:each="pokemonCard : ${allPokemonCards}">
        <td th:text="${pokemonCard.getName()}"></td>
        <td th:text="${pokemonCard.getRarity()}"></td>
        <td th:text="${pokemonCard.getPokemonSet()}"></td>
        <td><a th:href="@{/pokemoncard/delete/{pokemonId}(pokemonId = ${pokemonCard.pokemonCardId})}">delete</a></td>
        <td><a th:href="@{/pokemoncard/new/{pokemonId}(pokemonId = ${pokemonCard.pokemonCardId})}">add</a></td>
    </tr>
</table>

<a th:href="@{/pokemoncard/new}">Add new Pokemon card</a>

</body>
</html>