<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new Pokemon set</title>
</head>
<body>

<h1>Create a new Pokemon set</h1>

<form th:action="@{/pokemonset/save}" method="post" th:object="${formPokemonSet}">

  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{name}" /></td>
    </tr>
    <tr>
      <td>Rarity</td>
      <td><input type="text" th:field="*{rarity}" /></td>
    </tr>
  </table>

  <input type="submit" value="Save Pokemon card"/>

</form>
</body>
</html>